html{
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}
body{
  margin: 0;
  padding:0;
}

a:link{
  text-decoration: none;
  
}
.bi:hover{
  cursor: pointer;
  color:blue;
}
button{
  color:blueviolet;
}

#customNav{
  background-color: rgba(46, 57, 212, 0.726);
  opacity:2;
padding: 20px;}
.customBtn{
 background-color:lightgray;
 border-radius: 5%;
 text-decoration: none;
 color:gray;
}
.contentContainer{
  box-sizing: border-box;
  max-width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap:0px;
}
.homeTextContainer{

  background-color: rgb(203, 222, 241);
  padding:  5% !important; 

}
.cardsContainer{
  padding: 3% !important;
}
.post{
  padding: 0 5%;
  background-color: rgb(216, 216, 216);
  min-height: 100vh;
}
.customPost{
  position: relative;
  min-height: 100vh;
  padding: 4% ;
}
.commentsContainer{
  border-top: 1px solid gray;
  padding: 2% 0%;
}
.dotBtn{
  
  
}
.likeBtn , .dislikeBtn{
  border-radius: 50% !important;
  margin: 2% 1%;

}
.comment-new{
  margin:2% 0;
  display :flex;
  flex-direction: row;
  justify-content:left ;
  gap: 5px;
}
.rounded-circle{
  width:50px;
}
.commentBtn{
  
}
.comment-container{
  display: flex;
  flex-direction: row;
  gap:2px;

}
.comment-card{
  
}